services:
  api:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/code
    working_dir: /code
    environment:
      DATABASE_URL: postgresql://myuser:mypassword@192.168.1.208:5432/mydatabase
    ports:
      - "8000:8000"
